


.all_contain{
    padding: 0px 100px ;
}

.adv img{
    width: 1100px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.5);
}

.slider{
    margin: 30px 80px;

}

.trending{
    margin: 30px 0;
}


.newArrival{
    margin: 30px 0;

}


.features{
    margin: 100px 0;

}



