* {
  padding: 0%;
  margin: 0%;
}

.categorey-f2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  background-color: #cfe1f9;

}

.categorey-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
}

#browse_cat {
  padding: 10px;
  color: goldenrod;
}
.cate-btn {
  border: none;
  padding: 5px;
  margin: 2px;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
transition: 0.4s;
}
.cate-btn:hover > h1{
  color: goldenrod;
  transform: scale(1.1);
}


.cate-btn:focus {
  border-bottom: 2px solid goldenrod;
  transform: translatex(20px);
  color: goldenrod;
}

.categorey-img {
  width: 350px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.cont_f2 {
  position: relative;
}

.c1_img {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;

}

#c2_img {
  position: absolute;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
  left: 250px;
  /* width: 140px; */
}
.kids:focus{
  background-color: antiquewhite;
}